{template '_header'}
<div class="page-header">当前位置：<span class="text-primary">商城关闭设置</span></div>
<div class="page-content">
    <form action="" method="post" class="form-horizontal form-validate" enctype="multipart/form-data" >

        <div class="form-group">
            <label class="col-lg control-label">商城状态</label>
            <div class="col-sm-9 col-xs-12">
                {ifp 'sysset.close.edit'}
                <label class="radio-inline">
                    <input type="radio" name="data[flag]" value='0' {if $data['flag']==0}checked{/if} /> 开启
                </label>
                <label class="radio-inline">
                    <input type="radio" name="data[flag]" value='1' {if $data['flag']==1}checked{/if} /> 关闭
                </label>
                <label class="radio-inline">
                    <input type="radio" name="data[flag]" value='2' {if $data['flag']==2}checked{/if} /> 定时关闭
                </label>

                {else}

                <div class='form-control-static'>{if $data['flag']==1}关闭{else}开启{/if}</div>
                {/if}
            </div>
        </div>
        <div class="form-group row auto-close" {if $data['flag']!=2}hidden{/if}>
            <label class="col-lg control-label">关闭时间</label>
            <div class="col-sm-4 col-xs-6">
                <select id="week"  name='week[]' class="form-control select2" style='width:205px;' multiple='' >
                    <option value="1" >周一</option>
                    <option value="2" >周二</option>
                    <option value="3" >周三</option>
                    <option value="4" >周四</option>
                    <option value="5" >周五</option>
                    <option value="6" >周六</option>
                    <option value="7" >周日</option>
                </select>
            </div>
            <div class="col-sm-4 col-xs-6">
                <input type="text" name="times" class="form-control" placeholder="关闭时间段，例：19:59-20:31" value="{$data['times']}" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg control-label">商城关闭跳转链接</label>
            <div class="col-sm-9 col-xs-12">
                {ifp 'sysset.close.edit'}
                <input type="text" name="data[url]" class="form-control" value="{$data['url']}" />
                <span class='help-block'>如果您不采用系统页面，则可以设置关闭提醒链接，当商城关闭时跳转到此链接（非任何商城的链接）</span>
                {else}
                <div class='form-control-static'>{$data['url']}</div>
                {/if}

            </div>
        </div>
        <div class="form-group">
            <label class="col-lg control-label">商城关闭提醒</label>
            <div class="col-sm-9 col-xs-12">
                {ifp 'sysset.close.edit'}
                {php echo tpl_ueditor('data[detail]',$data['detail'], array('width'=>'500'))}
                {else}
                <textarea id='detail' style='display:none'>{$data['detail']}</textarea>
                <a href='javascript:preview_html("#detail")' class="btn btn-default">查看内容</a>
                {/if}
            </div>
        </div>

        <div class="form-group">
            <label class="col-lg control-label"></label>
            <div class="col-sm-9 col-xs-12">
                {ifp 'sysset.close.edit'}
                <input type="submit" value="提交" class="btn btn-primary"  />
                {/if}
            </div>
        </div>


    </form>
</div>
<script type="text/javascript">
    $(function () {
        $(document).unbind('click').on("click", 'input.valid', function () {
            var close_type = $('input.valid:checked').val();
            if(close_type==2){
                $(".auto-close").show();
            }else{
                $(".auto-close").hide();
            }
        });
        {if $data['week']!=''}
        $('#week').val([{$data['week']}]).trigger('change');
        {/if}

    })


</script>
{template '_footer'}     
<!--4000097827-->